.label-support-laporan-harian {
  width: 10%;
}
.section-left-box-title {
  display: flex;
}
.section-right-box-title {
  width: 150px;
}
.label-date {
  align-self: center;
  width: 35%;
}

@media (max-width: 768px) {
  .label-support-laporan-harian {
    width: 40%;
  }
  #laporan-keuangan-harian-app .section-right-box-title .select2-container {
    margin-top: 0px;
  }

  .inner-box-title {
    display: block;
  }
  .section-left-box-title {
    margin-bottom: 10px;
  }
  .section-right-box-title {
    width: 100%;
  }
}
