
#modal-tambah-pembayaran .modal-dialog {
  width: 770px;
}

.qty-input-barang {
  width: 100%;
  height: 34px;
  padding: 5px 5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

.qty-input-barang:focus {
  border-color: #903030;
  outline: none;
  box-shadow: none;
}


@media (max-width: 768px) {
  .label-detail-div {
    width: 27%;
  }
  #pembayaran-app .section-right-box-title .select2-container {
    margin-top: 0px;
  }

  #modal-tambah-pembayaran .modal-dialog {
    width: auto;
  }
  
}
