
.indented-detail-tagihan {
  padding: 0px 30px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .label-detail-div {
    width: 27%;
  }
  #pembayaran-app .section-right-box-title .select2-container {
    margin-top: 0px;
  }
}
